$navFontSize: 20px;
$secondaryColor: rgba(102, 102, 102, 1);
$navFontWeight: 500;
$font: "DM Sans", sans-serif;
$primaryColor: rgba(66, 68, 110, 1);
$h2size: 48px;
$fontWeight700: 700;
$poppins: "Poppins", sans-serif;
$parsize: 32px;
